{% extends 'base.html.twig' %}

{% block title %}Comment Page{% endblock %}

{% block body %}
    <h1>Comments</h1>
    <h2>Full list of all comments.</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Book</th>
                <th>Comment</th>
                {% if is_granted('ROLE_ADMIN')%}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user }}</td>
                <td>{{ comment.book }}</td>
                <td>{{ comment.commenttext }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('comment_new') }}">Add a comment</a>
    {% elseif is_granted('ROLE_STAFF')%}
    {% else%}
        <a>Login to place a comment</a>
    {% endif %}
{% endblock %}
