<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <style>

        input, select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        h1 {
            background-color: black;
            text-transform: uppercase;
            color: white;
        }

        a {
            text-align: center;
            text-transform: uppercase;
            color: black;
        }

        button {
            background-color: deepskyblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 100%;
        }

        table {
            width: 100%;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: midnightblue;
            color: white;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 9px 0px;
            background-color: midnightblue;
        }

        li {
            text-align: left;
            display: inline;
        }

        li a {
            color: white;
            padding: 9px 17px;
            text-decoration: none;
        }

        li a:hover {
            background-color: deepskyblue;
            color: black;
        }

        .active {
            background-color: #dddddd;
            color: black;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>

<body>

{% block body %}{% endblock %}


<hr>
<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}">
                Home
            </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ url('book_index') }}">
                    Books of my club
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url('book_index') }}">
                    Books
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ url('suggestion_new') }}">
                    Suggest a book
                </a>
            </li>
        {% elseif is_granted('ROLE_STAFF')%}
            <li>
                <a href="{{ url('suggestion_index') }}">
                    Book suggestions for my club
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url('club_index') }}">
                    All clubs
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ url('user_index') }}">
                Users
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url('comment_index') }}">
                Comments
            </a>
        </li>

        {% if is_granted('ROLE_STAFF') %}
            <li>
                <a href="{{ url('user_index') }}">
                    Club members
                </a>
            </li>
            <li>
                <a href="{{ url('application_index') }}">
                    Club applications
                </a>
            </li>
        {% elseif is_granted('ROLE_USER')%}

        {% else %}
            <li>
                <a href="{{ url('reply_index') }}">
                    Signup/Club application
                </a>
            </li>
        {% endif %}


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ url('app_logout') }}">
                    Logout
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url('app_login') }}">
                    Login
                </a>
            </li>
        {% endif %}

    </ul>
</nav>

</body>

</html>