<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <style>
        footer {
            color: white;
            background-color: blue;
            padding: 0.5rem;
        }

        h1 {
            color: white;
        }
        body {
            background-color: deepskyblue;
        }

        table, tr, td {
            border: 0.1rem solid black;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>

<body>

{% block body %}{% endblock %}


<hr>
<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}">
                Home
            </a>
        </li>
        <li>
            <a href="{{ url('book_index') }}">
                Books
            </a>
        </li>
        <li>
            <a href="{{ url('club_index') }}">
                Clubs
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ url('user_index') }}">
                Users
            </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('application_index') }}">
                    Club applications
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ url('comment_index') }}">
                Comment
            </a>
        </li>
        <li>
            <a href="{{ url('application_new') }}">
                Join a club
            </a>
        </li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ url('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ url('app_login') }}">Login</a>
        {% endif %}

    </ul>
</nav>

<footer>
    By Linyuan.
</footer>

</body>

</html>