<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <style>

        footer {
            color: white;
            background-color: blue;
            padding: 0.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th, td {
            color: black;
            padding: 10px;
            background-color: rgba(255,255,255,0.2);
            color: #fff;
        }

        body {
            margin: 0;
            background: url(https://free4kwallpapers.com/uploads/originals/2020/10/30/colorful-wallpaper.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            font-family: sans-serif;
            font-weight: 100;
            height: 100%;
        }

        h1 {
            background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
            background-size: cover;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            text-transform: uppercase;
            font-size: 50px;
            line-height: .75;
            margin: 10px 0;
        }

        table, tr, td {
            border: 0.1rem solid black;
        }

        button {
            background-color: cadetblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        input, select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        a {
            text-indent: 20px;
            text-align: justify;
            letter-spacing: 1px;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>

<body>

{% block body %}{% endblock %}


<hr>
<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}">
                Home
            </a>
        </li>
        <li>
            <a href="{{ url('book_index') }}">
                Books
            </a>
        </li>
        <li>
            <a href="{{ url('club_index') }}">
                Clubs
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ url('user_index') }}">
                Users
            </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('application_index') }}">
                    Club applications
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ url('comment_index') }}">
                Comment
            </a>
        </li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% else %}
            <li>
                <a href="{{ url('application_new') }}">
                    Join a club
                </a>
            </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ url('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ url('app_login') }}">Login</a>
        {% endif %}

    </ul>
</nav>

</body>

</html>